<app-navbar />
<div class="container mt-4">
    <h2>Formulario de Registro</h2>

    <div *ngIf="errorMessage" class="alert alert-danger text-center">
        {{ errorMessage }}
    </div>

    <form (ngSubmit)="onSubmit()">

        <!-- Nombre de usuario -->
        <div class="mb-3">
            <label for="name" class="form-label">Correo Electrónico</label>
            <input type="name" class="form-control" id="name" [(ngModel)]="name" name="name" required>
        </div>

        <!-- Correo electrónico -->
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
        </div>

        <!-- Contraseña -->
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password"
                required minlength="6">
        </div>

        <!-- Botón de registro -->
        <button type="submit" class="btn btn-primary mt-3">
            Registrar
        </button>
    </form>
</div>