<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Título de la página -->
            <h2 class="my-4">Lista de Tareas</h2>
            <div class="text-end mb-4">
                <button class="btn btn btn-success" type="button" routerLink="/tasks/create">Crear Nueva Tarea</button>
            </div>

            @if (alertDeleteVisible) {
                <div class="alert alert-success" role="alert">
                    Se eliminó la tarea correctamente
                </div>
            }

            <!-- Tabla de tareas -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha de Vencimiento</th>
                            <th scope="col">Prioridad</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of tasks">
                            <td>{{ task.title }}</td>
                            <td><p>{{ task.description }}</p></td>
                            <td>{{ task.dueDate }}</td>
                            <td>{{ task.priority }}</td>
                            <td>{{ task.status }}</td>
                            <td>
                                <div class="d-inline-flex gap-2">
                                    <button
                                        class="btn btn-outline-info btn-sm"
                                        type="button"
                                        (click)="goToEdit(task)"
                                    >
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm" (click)="deleteTask(task.id)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>